
//Part Number: GW1NZ-LV1QN48C6/I5
//Device: GW1NZ-1

IO_LOC "relais3" 35;
IO_PORT "relais3" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "relais2" 39;
IO_PORT "relais2" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "relais1" 20;
IO_PORT "relais1" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "relais0" 19;
IO_PORT "relais0" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;

IO_LOC "serial_enable" 38;
IO_PORT "serial_enable" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "out_serial" 34;
IO_PORT "out_serial" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "in_serial" 29;
IO_PORT "in_serial" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;


IO_LOC "button3" 17;
IO_PORT "button3" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "button2" 16;
IO_PORT "button2" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "button1" 10;
IO_PORT "button1" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "button0" 9;
IO_PORT "button0" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;



IO_LOC "in_reset" 13;
IO_PORT "in_reset" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "clk" 47;
IO_PORT "clk" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
